
body{
    font-family: 'Roboto', sans-serif; 
       width : 1500px ;
    margin : auto ;
}
main{
    margin : 70px ;
    display : grid ;
    grid-template-columns: 40% 50% ;
    gap : 20px ;
}
header {
    height : 70px ;
    background-color: #39A2DB ;
    color : #E8F0F6 ;
    font-size : 32px ;
    font-weight :bolder ;
    text-align: center ;
    padding-top: 30px ;
}
fieldset{
    border : 3px dashed #E8F0F6 ;
    color : #c7c8c9 ;
}
form{
    color : black ;
    display: grid ;
    grid-template-columns: auto;
    margin : 30px ;
}
input , select{
    width : 300px ;
    height : 25px ;
}
label{
    padding-top: 20px ;
    font-weight : bolder ;
}
div input:nth-child(1)
{
    margin-top: 15px ;
    background-color:#71c7ec;
    font-weight: bolder ;
    color : #E8F0F6 ;
    width : 90px ;
    height : 40px ;
}
div input:nth-child(2)
{
    margin-left : 5px ;
    font-weight: bolder ;
    width : 110px ;
    height : 40px ;
    background-color:#a10909;
    color : #E8F0F6 ;
}
table{
    margin : 30px ;
        width: 100% ;
}
img{
    padding-top: 15px ;
}
tr , td{
    width : 100px ;
    background-color: #71c7ec ;
    font-weight : bolder ;
    padding-bottom: 20px ;
    text-align: center;
    font-size: 18px ;
}
tr{
    border : 4px solid #E8F0F6 ;
}

/*
Used colors are: 
 #39A2DB
 #053742
 #E8F0F6

Table head, footer color:
 #A2DBFA
 #77ACF1

Buttons:
 #a10909
 #71c7ec
*/
footer {
    background-color: #053742 ;
    height : 40px ;
    color : #E8F0F6 ;
    padding-top: 30px ;
    text-align: center;
}















































